<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#{{ site.colour }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/graphene.css">

    <!-- no clue what I am doing here... -->
    <script>
            if (!("ontouchstart" in document.documentElement)) {
            document.documentElement.className += " no-touch";
            }
    </script>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
    <script src="{{ site.baseurl }}/assets/js/navbar.js"></script>

</head>